.button{
    display: flex;
    gap: 0.6rem;
    color: var( --contact-back);
}

.button >img{
    border-radius: 2px;
    height: 17px ;
    width: 20px;
}

.cities{
    position: absolute;
    padding: 20px;
    margin-top: 60px;
    border-radius: 10px;
    right: 12%;
    width: 40%;
    background-color: var(--white);
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {
      filter: blur(15px); /* Strong blur effect initially */
      opacity: 0; /* Fully transparent */
    }
    to {
      filter: blur(0); /* No blur */
      opacity: 1; /* Fully visible */
    }
  }

.AncharTagcities{
    display: grid;
    gap: 2rem;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}
.AncharTagcities>a:hover{
    font-weight: 600;
}
.cities::after{
    content: "";
    width: 20px;
    background-color: var(--white);
    position: absolute;
    right: 5%;
    top: -4%;
    transform: rotate(45deg); /* Rotate by 45 degrees */
    height: 20px;
}

